body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centerLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 345;
}

.artifacts{
  padding: 25px;
}

.artifact{
  padding: 25px;
}

.artifactImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: 10px solid white;
}

.quadCharts{
  padding: 25px;
}

.quadChart{
  color: white;
}

.row {
  display: flex;
}

.column-1 {
  flex: 50%;
  padding: 25px;
  border-right: 2px solid #1E1E1E;
  border-bottom: 2px solid #1E1E1E;
}

.column-2 {
  flex: 50%;
  padding: 25px;
  border-bottom: 2px solid #1E1E1E;
  border-left: 2px solid #1E1E1E;
}

.column-3 {
  flex: 50%;
  padding: 25px;
  border-top: 2px solid #1E1E1E;
  border-right: 2px solid #1E1E1E;
}

.column-4 {
  flex: 50%;
  padding: 25px;
  border-top: 2px solid #1E1E1E;
  border-left: 2px solid #1E1E1E;
}

@media screen and (max-width: 600px) {
  .column-1 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column-3 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column-4 {
    width: 100%;
  }
}
